:root {
  --white: #FFFFFF;
  --black: #000000;
  --qt-neon: #2CDE85;
  --qt-pine: #00414A;
  --qt-lemon: #DBEB00;
  --qt-moss: #373F26;
  --qt-violet: #CDB0FF;
  --qt-midnight: #27138B;
  --qt-mandarin: #FFA615;
  --qt-burgundy: #5F002D;
  --python-blue: #1e405d;
  --rust-red: #ef4a00;
  --cpp-light-blue: #659bd3;
  --cpp-dark-blue: #004283;
/*  --rust-red: #a72145;*/
  --zig-yellow: #ef9f1c;
  --zig-black: #111111;
  --carbon-gray: #353535;
}


#header-left {
  position: absolute;
  top: 0%;
  left: 0%;
}
#header-right {
  position: absolute;
  top: 0%;
  right: 0%;
}
#footer-left {
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: flex;
  margin-left: 30px;
}

/* Slide division */
#left {
  left:-8.33%;
  text-align: left;
  float: left;
  /* width:50%; */
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  t-index:-10;
  /* width:50%; */
}

#rightl {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: left;
  z-index:-10;
  width:50%;
}

/* #left70 {
  left:-8.33%;
  text-align: left;
  float: left;
  width:66%;
  z-index:-10;
  margin-left: 2%;
  margin-right: 2%;
} */
#left70 {
  font-size: 33px;
  left: -8.33%;
  text-align: left;
  float: left;
  width: 642px;
  z-index: -10;
  margin-left: 14%;
  margin-right: 2%;
  margin-top: 39%;
}
#right70 {
  left:-8.33%;
  text-align: right;
  float: right;
  width:66%;
  z-index:-10;
  margin-left: 2%;
  margin-right: 2%;
}
#right70l {
  left:-8.33%;
  text-align: left;
  float: right;
  width:66%;
  z-index:-10;
  margin-left: 2%;
  margin-right: 2%;
}
#left30 {
  left:31.25%;
  top: 75px;
  float: left;
  text-align: left;
  z-index:-10;
  width:26%;
  margin-left: 2%;
  margin-right: 2%;
}
#left_center {
  left:-8.33%;
  text-align: left;
  float: left;
  width:66%;
  z-index:-10;
  margin-left: 20%;
  margin-right: 2%;
}

#right30 {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:26%;
  margin-left: 2%;
  margin-right: 2%;
  display: block
}
/* styles */
.green {
  color: #41cd52;
  font-style: normal;
}

.green-dark {
  color: #17a81a;
  font-style: normal;
}

.gray {
  color: #646464;
  font-style: normal;
}
.blue {
  color: #306998;
  font-style: normal;
}
.blue-light {
  color: #4B8BBE;
  font-style: normal;
}
.yellow {
  color: #FFD43B;
  font-style: normal;
}
.yellow-light {
  color: #FFE873;
  font-style: normal;
}

.white {
  color: #ffffff;
  font-style: normal;
}

.red {
  color: #ff6961;
  font-style: normal;
}

.orange {
  color: #ff9a00;
  font-style: normal;
}

.qt-green {
  color: #40cc52;
  font-style: normal;
}

.android-green {
  color: #3DDC84;
  font-style: normal;
}

.qt-purple {
  color: #ff00ff;
  font-style: normal;
}

.qt-yellow {
  color: #ffff00;
  font-style: normal;
}

.rust-red {
  color: var(--rust-red);
  font-style: normal;
}

.cpp-light-blue {
  color: var(--cpp-light-blue);
  font-style: normal;
}

.cpp-dark-blue {
  color: var(--cpp-dark-blue);
  font-style: normal;
}

.qt-neon {
  color: var(--qt-neon);
  font-style: normal;
}

.qt-pine {
  color: var(--qt-pine);
  font-style: normal;
}

.qt-violet {
  color: var(--qt-violet);
  font-style: normal;
}

.qt-lemon {
  color: var(--qt-lemon);
  font-style: normal;
}

.qt-moss {
  color: var(--qt-moss);
  font-style: normal;
}

.qt-midnight {
  color: var(--qt-midnight);
  font-style: normal;
}

.qt-mandarin {
  color: var(--qt-mandarin);
  font-style: normal;
}

.qt-burgundy {
  color: var(--qt-burgundy);
  font-style: normal;
}

.inline {
  background-color: rgba(48, 206, 76, 1);
  color: white;
  border-radius: 0.1em;
  padding: 4px 5px 6px;
  white-space: nowrap;
  font-size: 0.7em;
}

a {
  color: #41cd52 !important;
  text-decoration: underline !important;
}


.clean-img {
  background: rgba(0,0,0,0);
  height: 35px;
  border: 0px;
  vertical-align: middle;
}

.srow {
  line-height: 1;
}

/* Style for slide content */
.reveal .slides section ul,
.reveal .slides section p {
  font-size: 100%; /* Decrease font size */
 /*  margin-left: 20px; /* Align relative to the title */
}

/* Optional: Adjust spacing between title and content */
.reveal .slides section h2 {
  margin-bottom: 10px; /* Reduce space below the title */
}

/* Force a full slide background color */
.reveal .backgrounds,
.reveal .slides section:not([data-background-image]) {
  background-color: #0C2127 !important;
}


/* Ensure videos and images are responsive */
iframe, img {
  max-width: 100%;
  height: auto;
  margin-top:33px;
}

/* For smaller screens (e.g., laptops) */
@media (max-width: 1024px) {
  h1, h2, h3 {
    font-size: clamp(1.5rem, 4vw, 3rem);
  }

  p, li {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
  }
}

/* For very small screens (e.g., phones) */
@media (max-width: 768px) {
  h1, h2, h3 {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
  }

  p, li {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
  }
}

pre {
  overflow-x: auto;
  font-size: 70%; /* Adjust font size for better fit */
  white-space: pre-wrap; /* Wrap long lines if necessary */
  word-wrap: break-word; /* Break long words */
}
.yt-title {
  text-align: left;
}
