#header-left {
  position: absolute;
  top: 0%;
  left: 0%;
}
#header-right {
  position: absolute;
  top: 0%;
  right: 0%;
}
#footer-left {
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: flex;
  margin-left: 30px;
}

/* Slide division */
#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}

#rightl {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: left;
  z-index:-10;
  width:50%;
}

#left70 {
  left:-8.33%;
  text-align: left;
  float: left;
  width:66%;
  z-index:-10;
  margin-left: 2%;
  margin-right: 2%;
}

#right70 {
  left:-8.33%;
  text-align: right;
  float: right;
  width:66%;
  z-index:-10;
  margin-left: 2%;
  margin-right: 2%;
}
#right70l {
  left:-8.33%;
  text-align: left;
  float: right;
  width:66%;
  z-index:-10;
  margin-left: 2%;
  margin-right: 2%;
}
#left30 {
  left:31.25%;
  top: 75px;
  float: left;
  text-align: left;
  z-index:-10;
  width:26%;
  margin-left: 2%;
  margin-right: 2%;
}
#left_center {
  left:-8.33%;
  text-align: left;
  float: left;
  width:66%;
  z-index:-10;
  margin-left: 20%;
  margin-right: 2%;
}

#right30 {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:26%;
  margin-left: 2%;
  margin-right: 2%;
  display: block
}
/* styles */
.green {
  color: #41cd52;
  font-style: normal;
}

.green-dark {
  color: #17a81a;
  font-style: normal;
}

.gray {
  color: #646464;
  font-style: normal;
}
.blue {
  color: #306998;
  font-style: normal;
}
.blue-light {
  color: #4B8BBE;
  font-style: normal;
}
.yellow {
  color: #FFD43B;
  font-style: normal;
}
.yellow-light {
  color: #FFE873;
  font-style: normal;
}

.white {
  color: #ffffff;
  font-style: normal;
}

.red {
  color: #ff6961;
  font-style: normal;
}

.orange {
  color: #ff9a00;
  font-style: normal;
}

.qt-green {
  color: #40cc52;
  font-style: normal;
}

.android-green {
  color: #3DDC84;
  font-style: normal;
}

.qt-purple {
  color: #ff00ff;
  font-style: normal;
}

.qt-yellow {
  color: #ffff00;
  font-style: normal;
}

.inline {
  background-color: rgba(48, 206, 76, 1);
  color: white;
  border-radius: 0.1em;
  padding: 4px 5px 6px;
  white-space: nowrap;
  font-size: 0.7em;
}

a {
  color: #41cd52 !important;
  text-decoration: underline !important;
}


.clean-img {
  background: rgba(0,0,0,0);
  height: 35px;
  border: 0px;
  vertical-align: middle;
}

.srow {
  line-height: 1;
}

/* Style for slide content */
.reveal .slides section ul,
.reveal .slides section p {
  font-size: 80%; /* Decrease font size */
  margin-left: 20px; /* Align relative to the title */
}

/* Optional: Adjust spacing between title and content */
.reveal .slides section h2 {
  margin-bottom: 10px; /* Reduce space below the title */
}
